li {
  list-style:none;
}
body {
  background-color:#fef6f6;
}

.block {
  display:inline-block;
  position:relative;
  margin:5px;
  border:1px solid #999;
  padding:3px;
  height:50px;
  width:50px;
  cursor:pointer;
  border-radius:7px;
  background-image: url('ov.png');
  background-position: top left;
  background-repeat: repeat-x;
}

.block:hover {
  box-shadow:0px 1px 1px #666;
}

.block:active {
  box-shadow:0px 2px 1px #666;
}

.block.first {
  box-shadow:0px 0px 0px 3px #555
}

.block.checked {
  border:2px solid green !important;
}

.red {
  background-color : #FF4843;
}

.blue {
  background-color : #328BDC;
}

.yellow {
  background-color : #FBFF93;
}

.green {
  background-color : #79C975;
}

.orange {
    background-color : #FFBF43;
}

.purple {
  background-color : #6A3072;
}
